@font-face {
    font-family: Arial_Outline;
    src: url(https://eventfinity-production-assets.s3.amazonaws.com/materials/744341/original/Arialic-Hollow.ttf);
  }

#btn--spin img {
    height: 16vw;
    margin-left: 43.5vw;
    margin-top: 17.5vw;
    position: absolute;
    width: 13vw;
    z-index: 1;
}

#wheel {
    z-index: -1;
}