body {
  background-image: url("https://eventfinity-production-assets.s3.amazonaws.com/materials/743361/original/Games-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  overflow: hidden;
  padding-bottom: 2.5rem;
}

#canvas {
  margin-left: 23%;
  width: 90vw;
}

#guessContainer {
  background-color: white;
  border: 8px solid turquoise;
  height: 85vh;
  margin: 5% auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 90vw;
  z-index: -1;
}

.question {
  color: #0067b0;
  font-family: 'Arial Black';
  font-size: 3.8vw;
  text-align: center;
}

.question p {
  margin: 1.5% auto;
}

.answerDiv {
  display: flex;
  flex: nowrap;
}

.answer {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  position: relative;
  right: -3.5vw;
  z-index: 1;
}

.correct {
  perspective: 1000px;
  border: 1px outset whitesmoke;
  border-radius: 5px;
  width: 5vw;
  color: whitesmoke;
  font-size: 4.5vw;
  height: 5vw;
  line-height: 5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  vertical-align: middle;
  z-index: -1;
}

#counter {
  border-radius: 50%;
  color: white;
  font-family: 'Arial Black';
  font-size: 3vw;
  height: 7vw;
  width: 7vw;
  line-height: 7vw;
  text-align: center;
  vertical-align: center;
}

#keyboard {
  border-radius: 5px;
  text-align: center;
  margin: 3% auto;
  width: 80vw;
}

#keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key button {
  background-color: lightgray;
  border: 2px outset whitesmoke;
  border-radius: 50%;
  font-size: 3.5vw;
  height: 5vw;
  line-height: 5vw;
  margin: 0.25vw;
  width: 5vw;
}

.disabled {
  background-color: darkgray !important;
  border: 2px inset darkgray !important;
  color: whitesmoke;
}

.shadow-inset,
.shadow-inset:focus,
textarea {
  box-shadow: inset 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.gameOverContainer {
  background-color: white;
  border: 8px solid turquoise;
  height: 80vh;
  margin: 5% auto;
  width: 90vw;
  z-index: -1;
}

.gameOver {
  color: #0067b0;
  font-family: 'Arial Black';
  font-size: 10vw;
  margin-top: 15%;
  text-align: center;
  z-index: 1;
}
