body {
  background-image: linear-gradient(#F8D3C5, white);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  overflow: hidden;
  padding-bottom: 2.5rem;
}

#canvas {
  margin-left: 26%;
  width: 80vw;
}

#guessContainer {
  height: 80vh;
  margin: 5% auto 0;
  padding-left: 2%;
  padding-right: 2%;
  width: 90vw;
  z-index: -1;
}

.question {
  color: #A3B899;
  font-family: 'Arial Black';
  font-size: 3vw;
  text-align: center;
  width: 100%;
}

.question p {
  margin: 0 auto 1.5%;
}

.answerDiv {
  display: flex;
}

.answer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  position: relative;
  right: -3.5vw;
  z-index: 1;
  width: 80%;
}

.correct {
  perspective: 1000px;
  border-radius: 5px;
  width: 4vw;
  color: whitesmoke;
  font-size: 4vw;
  height: 4vw;
  line-height: 4vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  vertical-align: middle;
  z-index: -1;
}

#counter {
  border-radius: 50%;
  background-color: #A3B899;
  color: white;
  font-family: 'Arial Black';
  font-size: 3vw;
  height: 7vw;
  width: 7vw;
  line-height: 7vw;
  text-align: center;
  vertical-align: center;
}

#keyboard {
  border-radius: 5px;
  text-align: center;
  margin: 3% auto;
  width: 100%;
}

#keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key button {
  background-color: whitesmoke;
  border: 2px outset whitesmoke;
  border-radius: 50%;
  font-size: 3vw;
  height: 6vw;
  /* line-height: 6.5vw; */
  margin: 0.25vw;
  width: 6vw;
}

.disabled {
  background-color: darkgray !important;
  border: 2px inset darkgray !important;
  color: whitesmoke;
}

.shadow-inset,
.shadow-inset:focus,
textarea {
  box-shadow: inset 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.gameOverContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin: 5% auto;
  width: 90vw;
  z-index: -1;
}

.gameOver {
  color: #a3b899;
  font-family: 'Arial Black';
  font-size: 4vw;
  margin-bottom: 0;
  padding: 5%;
  text-align: center;
  z-index: 1;
}

.goBack {
  background-color: #A3B899;
  border-radius: 10px;
  color: #fff;
  padding: 0.5vh 2vh;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 1%;
  text-align: center;
  width: 6vw;
}

.playAgain {
  background-color: #A3B899;
  border-radius: 10px;
  color: #fff;
  padding: 2vh 5vh;
  font-size: 3vw;
  cursor: pointer;
}

.playAgain:hover {
  background-color: #DDE6D5;
}