@font-face {
  font-family: Arial_Regular;
  src: url(https://eventfinity-production-assets.s3.amazonaws.com/materials/739141/original/Arial.ttf);
}

body {
  background-image: url("https://eventfinity-production-assets.s3.amazonaws.com/materials/743361/original/Games-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial_Regular !important;
  padding-bottom: 2.5rem;
}

#canvas {
  margin-left: 23%;
  width: 90vw;
}